body {
  background-image: url(https://img.freepik.com/free-vector/hand-drawn-adventure-background_23-2149048448.jpg?w=1480&t=st=1687313875~exp=1687314475~hmac=d850ad60720c895c1f2a1db901dd9fa1a012c837f9c453926566c0dd7ea790b3);
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: #38284d;
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #404040;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.weather-app {
  background: #ffffff;
  padding: 25px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin: 0 20px 0 0;
  width: 64px;
  height: 64px;
}
.weather-temperature strong {
  color: #404040;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  font-size: 16px;
}

.weather-temperature .active {
  color: #404040;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #38284d;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
.footer {
  padding: 5px 20px;
  max-width: 600px;
  color: white;
}
